*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;

}

.navbar-brand{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-left: 100px;
    text-shadow: 2px 1px rgb(241, 185, 204);
    
}

.carousel-item{
    width: 100%;
    height: 92vh;
}
/* body{
    position: relative;
} */
.about_img{
    min-width: 80%;
    max-height: 280px;
    margin-left: 80px;
}
.para{
    margin-right: 80px;
}

/* .services .row{
    margin-bottom: calc(var(--bs-gutter-y) * -1);
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
} */

.services img{
    width: 100%;
    height: 100%;
}

.offer_style{
    background: #afe6fa;
}
footer p{
    margin-bottom:0 ;
}


